body{
    min-height:fit-content;
    margin: 0px;
}

header{
    position: sticky;
    top:0px;
    margin:0px;

    height:fit-content;
}

#control-header{
    height:25px;
    background-color: #0e1111;
    color:whitesmoke;
    width:100vw;
}

