body{
    min-height:fit-content;
    margin: 0px;
}

header{
    position: sticky;
    top:0px;
    margin:0px;

    height:fit-content;
}

#control-header{
    height:35px;
    background-color: #0e1111;
    width:100vw;
}

#control-header > a{
    text-decoration: none;
    color:whitesmoke;
}

#editorjs{
    background-color: lightgray;
}