body{
    min-height:fit-content;
    margin: 0px;
    font-family: 'Raleway';
    background-color: rgb(240, 240, 240);
    color:#1c1c1c;
}

body {
    position: relative;
  }
  
body::after {
    content: '';
    display: block;
    height: 60px;
}

main{
    padding-bottom: 25px;
}

a{
    text-decoration: none;
    color:black;
}

a:visited{
    color:black;
}

/* Comun */

.center-text{
    text-align: center;
}

.flex-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.requerido{
    color:rgb(216, 0, 0);
}

form{
    display:flex;
    flex-direction: column;
    gap: 15px;

    justify-content: center;
    
    max-width: 775px;
    width: 100%;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size:large ;
    width:1200px;
}

th, td{
    padding:8px;
}

.center-td{
    text-align: center;
}

/* Cabecera */

header{
    position: sticky;
    top:0px;
    margin:0px;

    z-index: 10;
    height:fit-content;
}

#control-header{
    display:flex;
    flex-direction: column;
    justify-content: center;

    height:35px;
    background-color: #0e1111;

}

#control-options{
    display:flex;
    justify-content: space-between;
}

#control-options > a{
    color:whitesmoke;
    padding-right: 25px;
}

#control-links{
    display:flex;
    flex-direction: row;
    gap:25px;

    padding-left: 25px;
}

#control-links > a{
    color:whitesmoke;
}

#header-content{
    display:flex;
    flex-direction:column;
    gap:5px;

    background-color: rgb(250, 250, 250);
}

#brand{
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: larger;
    border-bottom: 1px solid gray;
}

#logo{
    margin-top:15px;
    margin-bottom: 10px;
    width: 430px;
}

#brand-link{
    color: initial;
}

#header-links{
    display:flex;
    justify-content: center;

    gap: 25px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    font-weight: bold;
}

#header-links > a{
    color:#0e1111;

    transition: 0.25s;
}

#header-links > a:hover{
    /* Color a cambiar */
    color:blue; 
}

/* Pie */

footer {
    display:flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #0e1111;
}

.footer-content{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.footer-content > p{
    color:whitesmoke;
}

/* Portada */

#portada-wrapper{
    display:flex;
    flex-direction: column;
    gap:25px;

    width:1000px;
    margin-top:25px;
}

#actualidad{
    display:flex;
    flex-direction: column;

    gap:15px;
}

.bottom-left {
    position: absolute;
    
    color:white;
    background-color: rgba(0, 0, 0, 0.3)    ;

    width:100%;
    bottom: 0px;
}

.bottom-left > a{
    width:100%;
    height:100%;
    color:whitesmoke;
}

.titular-actualidad{
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    /* text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; */

    font-weight: 600;
    margin:0px;
    padding-top:5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}


#contenido-portada{
    display:flex; 
    flex-direction: row;
}

#grande-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.actualidad-grande{
    display:inline-flex;
    position: relative;

    height: 280px;
    width:49.5%;
}

.link-portada{
    width:100%;
}

.grande-imagen{
    height:100%;
    width:100%;
    object-fit: cover;
}

#pequeno-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.actualidad-pequeno{
    position: relative;

    height:160px;
    width:24%;
}

.pequeno-imagen{
    height:100%;
    width:100%;
    object-fit: cover;
}

#contenido{
    display:flex;
    flex-direction: column;
}

#contenido > p{
    margin: 10px;
}

#categorias-wrapper{
    width:62.5%;
    border-right: 1px solid gray;
}

.noticia-portada{
    width:95%;
}

#local{
    border-bottom: 2px solid #0099CC;
}

#nacional{
    border-bottom: 2px solid #AA151B;
}

#internacional{
    border-bottom: 2px solid orange;
}

.categoria-portada{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:3%;
}

.noticia-categoria{
    width:30%;
}

.wrap-imagen{
    width:100%;
    height:120px;
}

.titular-noticia-categoria{
    margin:0px;
    margin-top:5px;
    font-weight: 700;
}

#euronoticias{
    margin-left:2.5%;
    width:35%;
}

#noticias-europa{
    border-bottom: 2px solid darkgreen;
}



/* Formularios */

label{
    font-weight: bold;
}



/* Redacción de noticias */
#form-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;

}

.input-wrapper{
    display:flex;
    flex-direction: column;
    gap:5px;
}

#destacado-editor{
    margin-top: 10px;
    margin-bottom: 10px;
}

#file-upload{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;

    height: fit-content;
    padding-top:5px;
}

#boton-archivo{
    display:flex;
    flex-direction: column;
    justify-content: center;

    width:fit-content;
}

#nombre-archivo{
    display:flex;
    flex-direction: column;
    justify-content: center;

    margin:0px;
}

#upload { display: none; }

#content-marker{
    margin:0px;
    font-weight: bold;
}

/* Mensajes de estado */

#alert-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.alert {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;

    width:fit-content;
    margin-top: 25px;
    padding: 20px;
    color: white;
    margin-bottom: 15px;
}

.alert.succes{
    background-color: #04AA6D;
}

.alert.error{
    background-color: #f44336;
}


.error-message{
    max-width: 775px;
    width:fit-content;
    margin:0px;
}

/* Inicio de Sesion */

#login-form{
    width:500px;
}

#remember{
    display: inline-block;

    margin:0px;
}

#button-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-container{
    width: fit-content;
}

/* Formulario Usuarios */

#user-form{
    width:600px;
}

#activo-wrapper{
    display:flex;
    flex-direction: row;
    gap:25px;
}

#label-activo{
    display: inline-block;

    margin:0px;
}

#activo{
    display: inline-block;

    margin:0px;
}


/* Paginado Usuarios */
#table-wrapper{
    display: flex;
    flex-direction: column;
    
}

#table-extras{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top:20px;
    margin-bottom:20px;
}

.extra-text{
    display:inline-block;
    align-self: center;

    margin:0px;
    width:fit-content;
}

#add-user{
    display:inline-block;

    margin:0px;
    width:fit-content;
}

#link-text-create{
    font-weight: bold;
}



/* Paginado Noticias Administrador */

.destacado-show-noticias{
    height:200px;
    width:320px;
    object-fit: cover;
    margin-right: -1px;
}

#extra-noticias{
    display:flex;
    justify-content: center;

    margin-top:25px;
    margin-bottom: 25px;
}

.destacado-wrapper{
    width:320px;
    padding:0px;
}

#destacado-text{
    width:320px;
}

/* Paginado Noticias Categoria */

#categoria-text-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#categoria-text{
    width:fit-content;
}

#sin-noticias{
    display:none;
}

#paginado-categorias-wrapper{
    display:flex;
    flex-direction: column;
    gap:25px;

    width:1200px;
}

.fila{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.noticia{
    width:320px;
}

.destacado-noticias-categorias{
    height:200px;
    width:320px;
    object-fit: cover;
}

/* Paginado Generico */

#pagination-wrapper{
    display:flex;
    flex-direction: column;

    gap: 25px;
}

#pagination-links{
    display:flex;
    flex-direction: row;
    justify-content: center;

    gap: 25px;
}

.pagination{height:36px;margin:0;padding: 0;}
.pager,.pagination ul{margin-left:0;}
/* .pagination ul{padding:0;display:inline-block;*display:inline;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:0 1px 2px rgba(0,0,0,.05);box-shadow:0 1px 2px rgba(0,0,0,.05)} */
.pagination li{display:inline}
.pagination a{float:left;padding:0 12px;line-height:30px;text-decoration:none;border:1px solid #ddd;border-left-width:0}
.pagination .active a,.pagination a:hover{background-color:#f5f5f5;color:#94999E}
.pagination .active a{color:#94999E;cursor:default}
.pagination .disabled a,.pagination .disabled a:hover,.pagination .disabled span{color:#94999E;background-color:transparent;cursor:default}
.pagination li:first-child a,.pagination li:first-child span{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.pagination li:last-child a{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}
.pagination-centered{text-align:center}
.pagination-right{text-align:right}
.pager{margin-bottom:18px;text-align:center}
.pager:after,.pager:before{display:table;content:""}
.pager li{display:inline}
.pager a{display:inline-block;padding:5px 12px;background-color:#fff;border:1px solid #ddd;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px}
.pager a:hover{text-decoration:none;background-color:#f5f5f5}
.pager .next a{float:right}
.pager .previous a{float:left}
.pager .disabled a,.pager .disabled a:hover{color:#999;background-color:#fff;cursor:default}
.pagination .prev.disabled span{float:left;padding:0 12px;line-height:30px;text-decoration:none;border:1px solid #ddd;border-left-width:1}
.pagination .next.disabled span{float:left;padding:0 12px;line-height:30px;text-decoration:none;border:1px solid #ddd;border-left-width:0}
.pagination li.active, .pagination li.disabled {
	float:left;padding:0 12px;line-height:30px;text-decoration:none;border:1px solid #ddd;border-left-width:0
}
.pagination li.active {
	background: #364E63;
	color: #fff;
}
.pagination li:first-child {
	    border-left-width: 1px;
}


/* Mostrar Noticia */

#titular-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#titular-text{
    padding-bottom: 0px;
    max-width: 600px;
}

#imagen-noticia{
    height:280px;
    width:560px;
    object-fit: cover;
}

#noticia-wrapper{
    flex-direction: column;
    padding-top:25px;
    padding-bottom: 25px;
}

#content-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#news-content{
    display:flex;
    flex-direction: column;
    gap:25px;

    width:560px;
}


#text-escritor{
    font-size: medium;
    margin:10px;
}


/* Editor de texto */
#editorjs{
    border:1px solid black;
    border-radius: 5px;

    margin-top:5px;
    padding-left: 10px;
    padding-right: 10px;
}